.container{
    margin: auto;
    border: 3px solid black;
    width: 500px;
    height: 110px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
    background-color: brown;
}

.blockNumber{
    padding: 17px;
    height: 22px;
    border: 1px solid black;
}

.numberInput{
    background-color: burlywood;
    width: 30px;
    height: 30px;
    text-align: center;
}

.containerSetBlock{
    width: 102px;
}

.inputSet{
    width: 96px;
    margin-bottom: 5px;
}

.containerButtonClear{
    position: relative;
    top: 24px;
}